.container{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container img {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 3440px;
  z-index: -1;
}






